:root, .mat-toolbar {
  // --toolbar-background-color: #151718;
  --toolbar-background-color: #1a242d;
  --toolbar-text-color: #eeeeee;
}


.hs-toolbar {
  color: var(--toolbar-text-color) !important;
  background-color: var(--toolbar-background-color) !important;
  padding-y: 1rem;
}

.hs-toolbar-title {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  .hs-subtitle {
    font-size: .875rem;
    font-weight: normal;
    font-style: italic
  }
}

