.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100px;
  height: 100px;
}
.bg-white {
  background-color: #fff !important;
  color: #333;
}
.bg-red {
  background-color: red !important;
  color: #fff;
}
.bg-green {
  background-color: green !important;
  color: #fff;
}
.bg-blue {
  background-color: blue !important;
  color: #fff;
}