@import '~bootstrap/scss/bootstrap';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #151718;
  --text-color: #eeeeee;
  --background: #151718;
  --foreground: #eeeeee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151718;
    --foreground: #eeeeee;
  }
}

// body {
//   color: var(--foreground);
//   background: var(--background);
//   font-family: Arial, Helvetica, sans-serif;
// }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hs-form-builder-container {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 300px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hs-form-display"
    "hs-form-builder-prompt";
  height: 100%;
}

.hs-form-display { 
  grid-area: hs-form-display; 
}

.hs-form-builder-prompt { 
  grid-area: hs-form-builder-prompt; 
}
